.container {
  display: flex;
  min-width: 300px;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  margin: 30px 0 30px;
}

.filterWrapper {
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-content: center;
}

.wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column-reverse;
}
